<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

        <img class="navbar-brand space-logo" src="https://s33.postimg.cc/oojh4ymbz/rocket-png.png">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "OnePiece", "/", class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Drawing", "/landing_pages/draw", class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Space", "/landing_pages/space", class:"nav-link" %>
            </li>
      </ul>

      <span class="navbar-text">
        <%= link_to "subscribe to the newsletters", signup_path %>
      </span>

    </div>
</nav>

<div class="banner banner-space">
  <div  class="banner-title"  >
    <h1 id="Welcome" >Welcome to our page, be illuminate as space</h1>
  </div>
</div>

